@import "tailwindcss";
@import "@fontsource/alfa-slab-one";

body {
  @apply bg-gray-100;
}

h1.title {
  font-family: 'Alfa Slab One', serif;
  @apply text-6xl font-bold tracking-wide text-white text-shadow-md mt-12 md:mt-22 lg:mt-32;
}

h2 {
  font-family: 'Alfa Slab One', serif;
  @apply text-2xl md:text-3xl lg:text-4xl font-semibold text-gray-800 tracking-wide;
}

h3 {
  @apply font-serif text-xl md:text-2xl lg:text-3xl font-semibold text-gray-700 my-2 md:my-4 lg:my-8;
}

h4 {
  @apply font-serif text-lg md:text-xl lg:text-2xl font-semibold text-gray-700 mt-4 md:mt-8 lg:mt-12 mb-4 border-b border-gray-600/40;
}

.container {
  @apply w-full max-w-4xl mx-auto p-4 my-2 md:p-4 md:my-4 lg:p-8 lg:my-8;
}
.card {
  @apply p-8;
  @apply relative bg-white border border-gray-200 rounded-md;
}
.card-footer {
  @apply absolute left-0 bottom-0 w-full rounded-b-md px-2 py-1;
}

.well {
  @apply bg-gray-200 inset-shadow-sm rounded-sm;
}

p {
  @apply my-4;
}

p > a {
  @apply underline font-semibold opacity-90 hover:opacity-100 cursor-pointer;
}

code {
  @apply font-mono text-red-800;
}

.pill {
  @apply font-sans text-xs bg-gray-200 text-gray-600/80 rounded-md px-2 py-1 opacity-80 hover:opacity-100 transition;
}

.tools-title {
  @apply flex justify-between items-center;
}
.tools-title > .pill {
  @apply hidden md:inline;
}