<div class="w-full p-4 bg-gray-300 text-gray-500 border-t border-gray-500/50 inset-shadow-sm">
  <div class="flex flex-col md:flex-row flex-wrap gap-2 max-w-[600px] mx-auto">
    <p class="font-semibold mx-auto">Funded By:</p>
    <a href="https://nifa.usda.gov/international-wheat-yield-partnership-iwyp-program" target="_blank">
      <img class="max-w-[240px] h-fit mx-auto" src="/nifa_new.png" />
    </a>
    <a href="https://www.ars.usda.gov/research/project/?accnNo=430844" target="_blank">
      <img class="max-w-[240px] h-fit mx-auto" src="/ars_new.png" />
    </a>
  </div>
</div>