---
import '../styles/global.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>The Triticeae Toolbox</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    var replacers = document.querySelectorAll('[data-replace]') as NodeListOf<HTMLElement>;
    for ( const replacer of replacers ) {
      const delay = parseInt(replacer.dataset.delay || '0');
      let replaceClasses = JSON.parse((replacer.dataset.replace || '').replace(/'/g, '"'));
      setTimeout(() => {
        Object.keys(replaceClasses).forEach(function(key) {
          replacer.classList.remove(key);
          replacer.classList.add(replaceClasses[key]);
        });
      }, delay);
    }
  });
</script>